<%= render "shared/header" %>

メッセージ相手リスト
<div class="menber-list">
  <% @rooms.each do |rmt| %>
  <div class="menber">
    <% rmt.room.users.each do |u| %>
    <%= link_to(u.nickname, user_room_messages_path(current_user.id, rmt.room_id), method: :get) if (current_user.id != u.id) %>
    <% end %>
  </div>
  <% end %>
</div>
