<%= render "shared/header" %>

<p class="text-danger">bootstrap</p>
<p id="tes">jquery</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("[id='tes']").text("jquery成功！！");
  });
</script>
