<%= render "shared/header" %>

メッセージ相手リスト
<div class="menber-list">
  <% @rooms.each do |rmt| %>
  <% rmt.room.users.each do |u| %>
  <% if current_user.id != u.id %>
  <div class="menber">
    <%= link_to('✕', user_message_room_path(current_user.id, rmt.room_id), class: "user-del") %>
    <%= link_to(u.nickname, user_message_room_messages_path(current_user.id, rmt.room_id)) %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
