/* 要素背景色指定 */

.bg-grey {
  background-color: grey;
}

/* 要素サイズ指定 */

.ww-400 {
  width: calc(100% - 400px);
}

.ws-350 {
  width: 350px;
}

.ws-400 {
  width: 400px;
}

/* フォントサイズ指定 */

.ft-15 {
  font-size: 15px;
}

.ft-20 {
  font-size: 20px;
}
