.message-image {
  width: 100px;
  height: 100px;
}

.profile-img {
  width: 100px;
  height: 100px;
}

.item-img {
  width: 200px;
  height: 200px;
}

.image-checks {
  position: relative;
  display: inline-block;
}

.image-check-box {
  position: absolute;
}

.parmit-image {
  width: 100px;
  height: 100px;
}

.permit-checkbox {
  display: flex;
  flex-direction: row;
}

.checkbox-image {
  position: relative;
  display: inline-block;
}
