.message-image {
  width: 100px;
  height: 100px;
}

.profile-img {
  width: 100px;
  height: 100px;
}

.item-img {
  width: 200px;
  height: 200px;
}

.image-checks {
  position: relative;
  /* width: 100%;
  height: 100%; */
  display: inline-block;
}

.image-check-box {
  position: absolute;
}
